{% load static %}
<html>
<head>
    <link href="{% static 'css/index.css' %}" rel="stylesheet">
    <body>

        <form method="POST">{% csrf_token %}
            <div class="form-group">  
                <h1>Insira seu usuario</h1>   
                {{ form.nick }}
            </div>
            {% if attack %}
            <div>
               <h3>Attack Level: {{ attack }}</h3> 
            </div>
            {% endif %}

            {% if strength %}
            <div>
               <h3>Strength Level: {{ strength }}</h3> 
            </div>
            {% endif %}

            {% if defense %}
            <div>
               <h3>Defense Level: {{ defense }}</h3> 
            </div>
            {% endif %}

            {% if ranged %}
            <div>
               <h3>Ranged Level: {{ ranged }}</h3> 
            </div>
            {% endif %}

            {% if magic %}
            <div>
               <h3>Magic Level: {{ magic }}</h3> 
            </div>
            {% endif %}
            <button type="submit" class="btn btn-primary btn-user btn-block">ENVIAR</button>
        </form>
    </body>
</head>
</html>